.button {
  border: 1px solid silver;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  line-height: 120%;
  background-color: transparent;
  border: none;
  padding: 0.5em 1em;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &--primary {
    background-color: $color-primary;
  }

  &--secondary {
    background-color: $color-secondary;
  }

  &--success {
    background-color: $color-success;
  }

  &:hover {
    transition: 100ms linear opacity;
    opacity: 0.94;
  }

  &:active {
      transform: scale(0.97);
  }

  &:disabled {
      opacity: 0.45;
  }
}
