.cookie {
  position: fixed;
  right: 10px;
  bottom: 20px;
  background-color: #fff;
  width: 300px;
  border-radius: 10px;
  border: 1px solid $color-dark;
  padding: 10px;

  @include above($md) {
    width: 400px;
  }

  .button {
    border: 1px solid $color-dark;
    margin-top: 10px;
    color: $color-dark;
  }
}
