.form {
  --height: 40px;

  &__fields-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    font-size: 16px;
    position: relative;
    height: var(--height);
    overflow: hidden;
    animation: showUp 200ms linear;

    &--hide {
      height: 0;
      transition: 200ms ease-in height;
    }
  }

  &__button-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
  }

  input {
    height: var(--height);
    border-radius: 10px;
    padding: 10px 20px 0;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1em;
    line-height: 1.2em;
    background-color: #eef2f7;
    color: $color-dark;
  }

  label {
    position: absolute;
    font-size: 0.6em;
    line-height: 1.2em;
    top: 50%;
    left: 20px;
    color: silver;
    top: 4px;
  }
}

@keyframes showUp {
  from {
    height: 0;
  }
  to {
    height: var(--height);
  }
}