.formWrapper {
  width: 95%;
  border-radius: 20px;
  max-width: 400px;
  background-color: #fff;
  padding: 10px;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid silver;

  @include above($md) {
     top: 20vh;
     padding: 20px;
  }

  &__toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    color: $color-slateblue;
    font-weight: bold;
    font-size: 14px;
    opacity: 0.8;
    transition: 200ms linear opacity;
    width: 100px;
    margin-left: auto;
    user-select: none;

    &:hover {
      opacity: 1;
    }
  }
}

@keyframes showUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
