.notifications {
  position: fixed;
  right: 10px;
  top: 0;

  &__wrapper {
    width: 200px;
    padding-top: 10px;
    display: grid;
    gap: 0 5px;
  }

  &__item {
    --border-color: silver;
    --anination-total-time: 2200ms;
    --show-animation-time: 350ms;
    --hide-animation-time: 350ms;
    --delay-animation-time: calc(var(--anination-total-time) - var(--show-animation-time) - var(--hide-animation-time));
    border-radius: 12px;
    font-size: 14px;
    padding: 8px 15px;
    margin-bottom: 10px;
    background-color: #fff;
    line-height: 120%;
    box-shadow: 0 0 8px -3px var(--border-color);
    animation: showUpNotificationItem var(--show-animation-time) linear, hideNotificationItem var(--hide-animation-time) ease-out var(--delay-animation-time) forwards;

    &--success {
      --border-color: green;
    }

    &--warning {
      border-color: $color-warning;
      box-shadow: 0 0 5px 12px $color-warning;
    }

    &--error {
      --border-color: $color-warning;
    }
  }
}

@keyframes showUpNotificationItem {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hideNotificationItem {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120%);
  }
}
