.notifications {
  position: fixed;
  right: 10px;
  top: 0;

  &__wrapper {
    width: 320px;
    padding-top: 10px;
    display: grid;
    gap: 0 5px;
  }

  &__item {
    --border-color: silver;
    --anination-total-time: 2200ms;
    --show-animation-time: 350ms;
    --hide-animation-time: 350ms;
    --delay-animation-time: calc(var(--anination-total-time) - var(--show-animation-time) - var(--hide-animation-time));
    border-radius: 6px;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 15px;
    margin-bottom: 10px;
    line-height: 120%;
    min-height: 60px;
    background-color: $color-dark;
    background-image: linear-gradient(to right, $color-secondary 0% 100%);
    background-size: 10px 100%;
    background-repeat: no-repeat;
    background-position: left top;
    color: #fff;
    animation: showUpNotificationItem var(--show-animation-time) linear,
      hideNotificationItem var(--hide-animation-time) ease-out var(--delay-animation-time) forwards;

    &--success {
      background-image: linear-gradient(to right, $color-success 0% 100%);
    }

    &--warning {
      background-image: linear-gradient(to right, $color-warning 0% 100%);
    }

    &--error {
      background-image: linear-gradient(to right, $color-danger 0% 100%);
    }
  }
}

@keyframes showUpNotificationItem {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hideNotificationItem {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120%);
  }
}
