.notifications {
  position: fixed;
  right: 10px;
  top: 0;

  &__wrapper {
    width: 200px;
    padding-top: 10px;
  }

  &__item {
    --border-color: silver;
    border-radius: 12px;
    font-size: 14px;
    padding: 8px 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    line-height: 120%;
    box-shadow: 0 0 2px 5px var(--border-color);
    animation: showUpNotificationItem 300ms ease-in, hideNotificationItem 300ms ease-out 1500ms forwards;

    &--success {
      --border-color: green;
    }

    &--warning {
      border-color: $color-tinkoff-yellow;
      box-shadow: 0 0 12px 1px  $color-tinkoff-yellow;
    }

    &--error {
      --border-color: red;
    }
  }
}

@keyframes showUpNotificationItem {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes hideNotificationItem {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(120%);
  }
}
