.sidebar {
  --padding: 5px;
  padding: var(--padding);
  grid-area: aside;
  border-right: 1px solid $color-dark;
  overflow: hidden;

  &__log-out {
    position: absolute;
    bottom: 40px;
    left: var(--padding);
    color: #fff;
    text-decoration: none;
    background-color: $color-danger;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 100ms linear transform;

    &:hover {
        transform: translateY(-3px);
    }
  }

  &__title {
      color: silver;
      font-size: small;
      margin-bottom: 1em;
      margin-top: 1em;
  }
}
