.task {
  --counter-margin-r: 10px;
  --counter-sides: 30px;
  --padding-left: 20px;
  --animation-coef: 1;
  --transition: 100ms;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: var(--padding-left);
  padding-right: var(--padding-left);
  transition: calc(var(--transition) / var(--animation-coef)) ease-in background-color;

  &--parent {
    // border-bottom: 1px solid $color-dark;
  }

  &--child {
    padding-left: calc(var(--padding-left) + var(--counter-margin-r) + var(--counter-sides));
    @include border-bottom(lighten($color-dark, 50%));
    background-color: lighten($color-dark, 78%);
    will-change: opacity;
    animation: showClilds 300ms linear forwards;
    grid-template-columns: 1fr;

    &:last-child {
      border-bottom: none;
    }
  }

  &--unmounting {
    animation: unmountingTask 400ms linear normal forwards;
  }

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-slateblue;
    width: var(--counter-sides);
    height: var(--counter-sides);
    min-width: var(--counter-sides);
    min-height: var(--counter-sides);
    border-radius: 50%;
    margin-right: var(--counter-margin-r);
    cursor: pointer;
    user-select: none;

    &:active {
      background-color: gray;
    }
  }

  &__input-wrapper {
    width: 100%;
  }

  &:hover {
    --animation-coef: 2;
    background-color: lightgray;
  }

  input {
    background-color: transparent;
    width: auto;
    border: none;
    outline: none;
    color: inherit;
    width: 100%;
  }
}

@keyframes showClilds {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
