.task-list {
  &__task {
    will-change: transform;
    animation: showUp 300ms;
    overflow: hidden;
    @include border-bottom($color-main-dark);

    &--unmounting {
        animation: unmountingTask 400ms linear normal forwards;
    }
  }
}

@keyframes showUp {
  from {
    transform: scale3d(1, 0.2, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

