.task-section {
  &__wrapper {
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    font-weight: bold;
    color: $color-slateblue;
  }

  &__panel {
    display: flex;
    align-items: center;
    height: 20px;
  }

  &__total-time {
    font-size: 0.8em;
    color: $color-dark;
    margin-right: 20px;
  }

  &__menu {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
