.timer {
  min-height: 100vh;
  background-color: lightgray;

  &__wrapper {
    display: grid;
    grid-template-areas:
      'aside header'
      'aside main';
    grid-template-columns: 55px 1fr;
    grid-template-rows: 65px 1fr;
    height: 100vh;
    overflow: hidden;

    @include above($md) {
      grid-template-columns: 180px 1fr;
    }
  }
}
