@keyframes unmountingTask {
    0% {
      transform: translateX(0);
      height: 50px;
    }
    68% {
      transform: translateX(-200%);
    }
    72% {
      height: 0px;
      transform: translateX(-200%);
    }
    100% {
      height: 0px;
      transform: translateX(-200%);
    }
  }
  