// Colors
$color-dark: #282c35;
$color-slateblue: slateblue;
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745!important;
$color-danger: #dc3545!important;
$color-warning: #fcc521;
$color-info: #17a2b8!important;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;