// Colors
$color-dark: #282c35;
$color-slateblue: #6a5acd;
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #fcc521;
$color-info: #17a2b8;

// z-index
$zIndex-notify: 1000;
$zIndex-header: 100;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;