<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

    </style>
    <title>Registration confirm</title>
</head>

<body>
    <div style="padding: 20px;">
        <h1>Hello friend!</h1>
        If you want to reset your password, please, follow to link
        <br>
        <a href="{%href%}" style="color: #6a5acd;" target="_blank">Reset my password</a>
        <br>
        If you don't wanna change your password or received this email by mistake
        Please, ignore or delete them.
        Thanks! Have a good day :)
        Times-up TEAM!
    </div>
</body>

</html>