<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

    </style>
    <title>Registration confirm</title>
</head>

<body>
    <div style="font-size: 1.25em; padding: 20px;">
        <h1>Hello <span style="color: #6a5acd;">{%USERNAME%}</span>!</h1>

        <div style="margin-bottom: 10px">
            For finish registration, please follow the link below
        </div>
        <div style="font-size: 24px;margin-bottom: 30px; color: #6a5acd; font-weight: bold;">
            <a href="{%HREF%}" target="_blank">Finish registration</a>
        </div>
        <div style="margin-bottom: 10px; color: red">
            If you don't wanna registration or received this email by mistake
            <br>
            <span>Please, ignore or delete them.</span>
        </div>
        <p>
            Thanks! Have a good day :)
        </p>
        <p style="font-style: italic; font-weight: bold;">
            Times-up Team!
        </p>
    </div>
</body>

</html>